<!DOCTYPE html>
<html lang="es">

<head>
    <title>
        Navbar
    </title>
</head>

<body>
    <nav>
        <h2>
            LOS HORNEROS
        </h2>
        <ul>
            <li>
                <a href="#inicio">
                    Inicio
                </a>
            </li>
            <li>
                <a href="#carta">
                    Carta
                </a>
            </li>
            <li>
                <a href="#destacados">
                    Destacados
                </a>
            </li>
            <li>
                <a href="#nosotros">
                    Sobre nosotros
                </a>
            </li>
        </ul>
        <a href="/login">
            Iniciar sesión
        </a>

    </nav>
</body>
</html>