<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario_login.css') }}">
</head>
<body>
    <div>
        <h1> Los Horneros </h1>
    </div>
    
    <div id="formulario">
        <form>
            <h2> INICIAR SESIÓN </h2>
            <div class="dato_ingreso">
                <label > Nombre de usuario </label>
            
                <input id="nombre" placeholder="Ingresa tu usuario">
            </div>
            <div class="dato_ingreso">        
                <label > Email </label> 
        
                <input id="email" placeholder="Ingresa tu email">
            </div>
            <div>
                
                <button type="submit" id="boton_ingresar"> Ingresar </button> 
                
                <div>
                    <span id="separador"> o </span>  
                </div>              
            
                <a id="link_crear_cuenta" href=""> 
                    Registrarse 
                </a> 
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/formulario_login.js') }}" ></script>
</body>
</html>