<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/formulario_reserva.css">
    <title>Document</title>
</head>
<body>
    <section class="carta-seccion">
        <div class="carta-contenedor">
            <div class="carta-col-izq">
                <div class="carta-izq-top">
                    <h3>Reserva ahora!</h3>
                    <h1 class="tit-izq">Te esperamos</h1>
                    <h3>Horario</h3>
                    <h3>De Martes a Domingos, de 8:00h a 23:00h</h3>
                </div>
                <h3>Direccion</h3>
                <h3 class="ubicacion">Calle Pepito 123, Buenos Aires</h3>
            </div>
            <div class="form-col-der">
                <div class="inputs-contenedor">
                    <h1 class="tit-reserva">Haz una Reserva</h1>
                    <form method="post">
                        <div class="fecha">
                            <input type="text" placeholder="Indica el dia y la hora">
                        </div>
                        <div class="comensales">
                            <input type="text" placeholder="N° de comensales">
                        </div>
                        <div class="nombre">
                            <input type="text" placeholder="Escribe tu nombre">
                        </div>
                        <div class="numero">
                            <input type="text" placeholder="Tu teléfono">
                        </div>
                        <button type="submit">RESERVAR</button>
                    </form>
                </div>
            </div>
            
        </div>
    </section>
</body>
</html>