<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Los Horneros</title>
</head>
<body>
    <section class="fondo">
        <div class = "contenido">
            <div class="cartel">
                <h1>CARTA DE<br>PRESENTACIÓN</h1>
            </div>

            <div class="slider-frame">
                <ul>
                    <li><img src="slider1.jpg" alt=""></li>
                    <li><img src="slider2.jpg" alt=""></li>
                    <li><img src="slider3.jpg" alt=""></li>
                    <li><img src="slider4.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </section>