<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Los Horneros</title>
</head>
<body>
    <section class="fondo">
        <div class = "contenido">
            <div class="cartel">
                <h1>CARTA DE<br>PRESENTACIÓN</h1>
            </div>

            <div class="slider-frame">
                <ul>
                    <li><img src="slider1.jpg" alt=""></li>
                    <li><img src="slider2.jpg" alt=""></li>
                    <li><img src="slider3.jpg" alt=""></li>
                    <li><img src="slider4.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="fondo2">
        <div class = "contenedor">
            <div class="columnas">
                <h2>Platos destacados</h2>
                <div class="plato">
                    <div>
                        <h3>
                            Nombre plato
                        </h3>
                        <h4>
                            descripcion del plato con ingredientes.
                        </h4>
                    </div>
                    <img src="plato1.jpg" alt="" class="fotoplato">
                </div>
                <div class="plato">
                    <div>
                        <h3>
                            Nombre plato
                        </h3>
                        <h4>
                            descripcion del plato con ingredientes.
                        </h4>
                    </div>
                    <img src="plato2.jpg" alt="" class="fotoplato">
                </div>            
            </div>
            <div class = "columnas">
                <div class="plato">
                    <div>
                        <h3>
                            Nombre plato
                        </h3>
                        <h4>
                            descripcion del plato con ingredientes.
                        </h4>
                    </div>
                    <img src="plato3.jpg" alt="" class="fotoplato">
                </div>  
            </div>
        </div>
    </section>
</body>
</html>