<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/frontend/static/css/menu.css">
<body>
    <section class="seccion_cartas">

        <div class="contenedor_columnas">

            <div class="carta">
                <p>Carta</p>
                <h3>Menu</h3>

                <div class="plato">
                    <div class="encabezado_plato">
                        <h2> Milanesa </h2>
                        <span class="precio"> $1000 </span>
                    
                    </div>
                    <p class="ingredientes">150g de pollo</p>
                </div>

                <div class="plato">
                    <div class="encabezado_plato">
                        <h2> Milanesa </h2>
                        <span class="precio"> $1000 </span>
                    
                    </div>
                    <p class="ingredientes">150g de pollo</p>
                </div>


                <div class="plato">
                    <div class="encabezado_plato">
                        <h2> Milanesa </h2>
                        <span class="precio"> $1000 </span>
                    
                    </div>
                    <p class="ingredientes">150g de pollo</p>
                </div>

                <div class="plato">
                    <div class="encabezado_plato">
                        <h2> Milanesa </h2>
                        <span class="precio"> $1000 </span>
                    
                    </div>
                    <p class="ingredientes">150g de pollo</p>
                </div>

                <div class="plato">
                    <div class="encabezado_plato">
                        <h2> Milanesa </h2>
                        <span class="precio"> $1000 </span>
                    
                    </div>
                    <p class="ingredientes">150g de pollo</p>
                </div>

                <div class="plato">
                    <div class="encabezado_plato">
                        <h2> Milanesa </h2>
                        <span class="precio"> $1000 </span>
                    
                    </div>
                    <p class="ingredientes">150g de pollo</p>
                </div>
            </div>

            <div class="carta">
                <p>Carta</p>
                <h3>Bebidas / Postres</h3>

                <div class="plato">
                    <div class="encabezado_plato">
                        <h2> Milanesa </h2>
                        <span class="precio"> $1000 </span>
                    
                    </div>
                    <p class="ingredientes">150g de pollo</p>
                </div>

                <div class="plato">
                    <div class="encabezado_plato">
                        <h2> Milanesa </h2>
                        <span class="precio"> $1000 </span>
                    
                    </div>
                    <p class="ingredientes">150g de pollo</p>
                </div>

                <div class="plato">
                    <div class="encabezado_plato">
                        <h2> Milanesa </h2>
                        <span class="precio"> $1000 </span>
                    
                    </div>
                    <p class="ingredientes">150g de pollo</p>
                </div>

                <div class="plato">
                    <div class="encabezado_plato">
                        <h2> Milanesa </h2>
                        <span class="precio"> $1000 </span>
                    
                    </div>
                    <p class="ingredientes">150g de pollo</p>
                </div>

                <div class="plato">
                    <div class="encabezado_plato">
                        <h2> Milanesa </h2>
                        <span class="precio"> $1000 </span>
                    
                    </div>
                    <p class="ingredientes">150g de pollo</p>
                </div>

                <div class="plato">
                    <div class="encabezado_plato">
                        <h2> Milanesa </h2>
                        <span class="precio"> $1000 </span>
                    
                    </div>
                    <p class="ingredientes">150g de pollo</p>
                </div>
                
            </div>

        </div>
    </section>

    
</body>
</html>