<section class="seccion_cartas" id="menu">
    <div class="contenedor_columnas">

        <div class="carta">
            <p>Carta</p>
            <h3>Menu Principal</h3>
            {% for plato in menu.comidas %}
                <div class="plato">
                    <div class="encabezado_plato">
                        <h2> {{ plato.nombre }} </h2>
                        <span class="precio"> ${{ plato.precio }} </span>
                    </div>
                    <p class="ingredientes"> {{ plato.descripcion }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>