
    <section class="seccion_cartas" id="menu">

        <div class="contenedor_columnas">

            <div class="carta">
                <p>Carta</p>
                <h3>Menu</h3>
                {% for plato in menu.comidas %}
                    {% if plato.id_categoria == 1 %}
                        <div class="plato">
                            <div class="encabezado_plato">
                                <h2> {{ plato.nombre}} </h2>
                                <span class="precio"> {{ plato.precio }} </span>
                            </div>
                            <p class="ingredientes"> {{ plato.descripcion}}</p>

                            {% if plato.restricciones != 'Ninguna'%}
                            <span class="tag_restriccion"> {{ plato.restricciones }}</span>
                            {% else %}
                                <span class="tag_restriccion generico">Apto Todo Publico</span>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="carta">
                <p>Carta</p>
                <h3>Bebidas / Postres</h3>
                {% for plato in menu.comidas %}
                    {% if plato.id_categoria == 1 %}
                        <div class="plato">
                            <div class="encabezado_plato">
                                <h2> {{ plato.nombre}} </h2>
                                <span class="precio"> {{ plato.precio }} </span>
                            </div>
                            <p class="ingredientes"> {{ plato.descripcion}}</p>

                            {% if plato.restricciones != 'Ninguna'%}
                                <span class="tag_restriccion"> {{ plato.restricciones | lower }}  </span>
                            {% else %}
                                <span class="tag_restriccion generico">Apto Todo Publico</span>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>