<div id="formulario_resena">
    <div id="aparecer_resena">
        <button type="button" id="cerrar_ventana" > X </button>
    </div>
    <div id="parrafo_resena">
        <h2> TU EXPERIENCIA NOS IMPORTA </h2>
        <p> Esperamos que te haya gustado, si le gustaria podria dejar una reseña </p>
    </div>
    <form action="{{ url_for('home.publicar_resena') }}" method="POST">
        <div id="dato_ingreso">
            <label for="comentario"> Comentario </label>
        
            <input type="text" id="comentario" name="ucomentario" placeholder="Escribe aqui">
        </div>
       
        <div id="estrellas">
            <label> Valoración </label> <br>
            <input type="radio" id="estrellas1" name="uestrellas" value="1"> <label for="estrellas1" class="iluminable"> ☆ </label>
            <input type="radio" id="estrellas2" name="uestrellas" value="2"> <label for="estrellas2" class="iluminable"> ☆ </label>
            <input type="radio" id="estrellas3" name="uestrellas" value="3"> <label for="estrellas3" class="iluminable"> ☆ </label>
            <input type="radio" id="estrellas4" name="uestrellas" value="4"> <label for="estrellas4" class="iluminable"> ☆ </label>
            <input type="radio" id="estrellas5" name="uestrellas" value="5"> <label for="estrellas5" class="iluminable"> ☆ </label>
        </div>
    
        <div>
            <button type="submit" id="boton_publicar"> Publicar </button>     
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='js/publicar_resena.js') }}" ></script>
